/PluginSource/build
/UnityProject/UnityProject.csproj
/UnityProject/UnityProject.sln
/UnityProject/UnityProject.VC.db
/UnityProject/.vs
/UnityProject/Debug
/UnityProject/Library
/UnityProject/Temp
/UnityProject/NativeLog.txt
/PluginSource/projects/VisualStudio2015/Debug
/PluginSource/projects/VisualStudio2015/.vs
/PluginSource/projects/VisualStudio2015/*.db
/PluginSource/projects/VisualStudio2015/*.opendb
/libssp/.vs
/libssp/Debug
/libssp/x64
/VideoTools/libssp/Debug
/VideoTools/libssp/x64
/VideoTools/libssp/Release
/VideoTools/decoders
/VideoTools/encoders
/RtmpLib/RtmpLib/Debug
/RtmpLib/RtmpLib/x64
/RtmpLib/x64
/RtmpLib/Debug
/RtmpLib/RtmpLib.VC.db
/RtmpLib/Test/*.log
/RtmpLib/Test/x64
/RtmpLib/Test/Debug
/RtmpLib/.vs
/RtmpLib/RtmpLib.VC.VC.opendb
/VideoTools/libssp/.vs/libssp_test/v14/*.suo
SspUnityProject/Library/
PluginSource/projects/VideoPlugin/Debug/
SspUnityProject/Temp/
/SspUnityProject/.vs/SspUnityProject/v14/*.suo
/SspUnityProject/SspUnityProject.userprefs
/SspUnityProject/UnityPackageManager/manifest.json
/SspUnityProject/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
/SspUnityProject/obj/Debug/Assembly-CSharp.csprojResolveAssemblyReference.cache
/SspUnityProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SspUnityProject/Assembly-CSharp.csproj
/SspUnityProject/FBCaptureSDK.txt
/SspUnityProject/SspUnityProject.sln
/SspUnityProject/.vscode
/SspUnityProject/SspUnityProject.csproj
/SspUnityProject/obj/Debug/Assembly-CSharp.csproj.FileListAbsolute.txt
/SspUnityProject/obj/Debug/Assembly-CSharp.dll
/SspUnityProject/obj/Debug/Assembly-CSharp.pdb
